.row:hover {
    background-color: rgba(143, 245, 231, 0.3);
}

.row:nth-of-type(1) {
    background-color: rgba(189, 197, 168, 0.411);
}

.row:nth-of-type(1) {
    height: 10vh;
    font-size: 30px;
}

.row {
    height: 20vh;
}

.col {
    margin: auto;
}

html, body {
    font-size: auto;
}